build/
CMakeFiles/
CMakeCache.txt
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib
*.pch
*.pdb
*.ilk
*.mod
*.exp

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

__pycache__/
*.pyc
*.pyo

*.log
*.swp
*.DS_Store
resources/
